{% extends "base.html" %}

{% block title %}Registro{% endblock %}


{% block body %}
<div class="min-vh-100 d-flex align-items-center justify-content-center py-5">
    <form class="bg-white p-4 rounded shadow-sm" style="max-width: 330px;" method="post" action="{{ url_for('auth.login') }}">
      <div class="text-center">
        <img class="mb-4" src="{{url_for('static', filename='img/flask.png')}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Registro de Usuario</h1>
      </div>
        

        <div class="mb-3">
            <label for="usuario">Nombre de usuario</label>
            <input type="text" 
                   class="form-control" 
                   name="usuario" 
                   id="usuario" 
                   placeholder="Usuario"
                   minlength="5"
                   maxlength="20"
                   required>
        </div>

        <div class="mb-3">
            <label for="password">Contraseña</label>
            <input type="password" 
                   class="form-control" 
                   name="password" 
                   id="password" 
                   placeholder="Contraseña"
                   minlength="6"
                   required>
        </div>

        <div class="mb-3">
            <label for="password_confirm">Confirmar contraseña</label>
            <input type="password" 
                   class="form-control" 
                   name="password_confirm" 
                   id="password_confirm" 
                   placeholder="Confirmar contraseña"
                   minlength="6"
                   required>
        </div>

        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Registrarse</button>
        

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2025</p>
    </form>
</div>
{% endblock %}